apiVersion: v1
clusters:
- cluster:
    certificate-authority: C:\Users\Dell\.minikube\ca.crt
    server: https://127.0.0.1:62810
  name: minikube
contexts:
- context:
    cluster: minikube
    user: minikube
  name: minikube
current-context: minikube
kind: Config
users:
- name: minikube
  user:
    client-certificate: C:\Users\Dell\.minikube\profiles\minikube\client.crt
    client-key: C:\Users\Dell\.minikube\profiles\minikube\client.key
